/* user-auth.css */
.white-border:focus {
    border: 1px solid #fff;
  }

  .link {
    text-decoration: none;
    position: relative;
    color: inherit;
  }
  
  .link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff; /* Change to the desired color */
  }